/* src/components/Display/Display.css */
.calculator-display {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: right;
    font-family: 'Digital', sans-serif;
  }
  
  .calculator-display-value {
    font-size: 2.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  @media (max-width: 480px) {
    .calculator-display-value {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 320px) {
    .calculator-display-value {
      font-size: 1.75rem;
    }
  }